body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#screen-content {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #FBFBFB;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.btnApp{
  background-color: #94a37d !important;
  border-radius: 20px !important;
  border: none !important;
}

.btnApp:hover{
  background-color: #768264 !important;
}

.btnCancel{
  background-color: rgba(145, 152, 142, 0.114) !important;
  border-radius: 20px !important;
  border: none !important;
  color: #6d775d !important;
}

.btnCancel:hover{
  background-color: rgba(145, 152, 142, 0.249) !important;
}

.btnNoBg{
  background-color: transparent !important;
  border: none !important;
  color: #6d775d !important;
  font-weight: 500 !important;
}

.text-custom-green {
  color: #94a37d;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
